# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
cache: packages
sudo: false
r_build_args: --no-build-vignettes
r_check_args: --no-manual --timings
matrix:
  include:
    - os: linux
      r: release
    - os: linux
      r: devel
    - os: osx
      osx_image: xcode8
      r: release
r_packages:
  - covr
after_success:
  - Rscript -e 'library(covr); covr::codecov()'
